In [1]:
import pandas as pd
import ydata_profiling as yd
import numpy as np

c:\Users\Windows 10\.conda\envs\d_science\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df=pd.read_csv("googleplaystore.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [3]:
profile=yd.ProfileReport(df)
profile.to_file("automatic_eda_profiler.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Summarize dataset:  75%|███████▌  | 15/20 [00:01<00:00,  7.86it/s, Calculate auto correlation]     c:\Users\Windows 10\.conda\envs\d_science\lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '4.0.3 and up'')
  warnings.warn(
Summarize dataset:  81%|████████▏ | 22/27 [00:03<00:01,  4.52it/s, Missing diagram heatmap]   c:\Users\Windows 10\.conda\envs\d_science\lib\site-packages\seaborn\matrix.py:260: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  annotation = ("{:" + self.fmt + "}").format(val)
c:\Users\Windows 10\.conda\envs\d_science\lib\site-packages\ydata_profiling\model\missing.py:78: UserWarning: There was an attempt to generate the Heatmap missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Heatmap": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '--'')
  warnings.warn(
Summarize dataset: 100%|██████████| 27/27 [00:03<00:00,  7.86it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:09<00:00,  9.40s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.72s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 64.18it/s]

In [4]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
3569,Dropbox,PRODUCTIVITY,4.4,1861309,61M,"500,000,000+",Free,0,Everyone,Productivity,1-Aug-18,Varies with device,Varies with device
6082,Unseen - No Last Seen,TOOLS,4.4,103909,9.2M,"5,000,000+",Free,0,Everyone,Tools,11-May-18,2.2.7,4.3 and up
642,Toronto Dating,DATING,NaN,0,14M,100+,Free,0,Mature 17+,Dating,12-Jul-18,1,4.1 and up
4908,A/C Air Conditioner Remote,TOOLS,3.4,7816,5.1M,"1,000,000+",Free,0,Everyone,Tools,30-Jul-16,1.1.1,3.0 and up
6513,[BN] Blitz,SPORTS,3.2,4,5.6M,100+,Free,0,Everyone,Sports,17-May-18,4.6,4.3 and up
1148,"Money Lover: Expense Tracker, Budget Planner",FINANCE,4.4,126447,Varies with device,"1,000,000+",Free,0,Everyone,Finance,1-Aug-18,Varies with device,Varies with device
5146,Ah! Monster,FAMILY,4.1,1998,9.8M,"100,000+",Free,0,Everyone,Casual,21-Jun-17,4.0.0,4.0 and up
5387,Draw a Stickman: EPIC Free,GAME,4.2,210317,46M,"10,000,000+",Free,0,Everyone 10+,Adventure,10-Apr-15,1.4.3.104,2.3.3 and up
185,URBANO V 02 instruction manual,BOOKS_AND_REFERENCE,NaN,114,7.3M,"100,000+",Free,0,Everyone,Books & Reference,7-Aug-15,1.1,5.1 and up
37,Floor Plan Creator,ART_AND_DESIGN,4.1,36639,Varies with device,"5,000,000+",Free,0,Everyone,Art & Design,14-Jul-18,Varies with device,2.3.3 and up

In [5]:
df["Price"].value_counts()

Price
0          10041
$0.99        148
$2.99        129
$1.99         73
$4.99         72
           ...
$19.90         1
$1.75          1
$14.00         1
$4.85          1
$1.04          1
Name: count, Length: 92, dtype: int64

In [6]:
# drop duplicate rows
df.drop_duplicates(inplace=True)

In [7]:
df["Size"].value_counts()

Size
Varies with device    1526
11M                    188
13M                    186
12M                    186
14M                    182
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

## Because of typecasting issue with nan , first we will convert k into M, remove M (as all data will be in M unit ) and then deal with nan

In [8]:
df["Size"].value_counts()

Size
Varies with device    1526
11M                    188
13M                    186
12M                    186
14M                    182
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

In [9]:
def convert_data_sizes(val):
    if 'k' in val:
        return (float((val.split("k"))[0])/1024)
    elif 'M' in val:
        return (val.split("M"))[0]
    else :
        return np.nan

In [10]:
df["Size"]=df["Size"].apply(convert_data_sizes)

In [11]:
df["Size"].value_counts()

Size
11          188
12          186
13          186
14          182
15          174
           ...
0.419922      1
0.418945      1
0.195312      1
0.449219      1
0.604492      1
Name: count, Length: 460, dtype: int64

In [12]:
df["Size"].sample(5)

1914    NaN
68      NaN
3619    5.2
7822    8.5
7379    3.2
Name: Size, dtype: object

In [8]:
# df[df["Size"]=='Varies with device']["Size"].replace(to_replace="Varies with device",value=np.nan,inplace=True)

C:\Users\Windows 10\AppData\Local\Temp\ipykernel_5352\1002473983.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[df["Size"]=='Varies with device']["Size"].replace(to_replace="Varies with device",value=np.nan,inplace=True)
C:\Users\Windows 10\AppData\Local\Temp\ipykernel_5352\1002473983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df["Size"]=='Varies with device']["Size"].replace(to_replace="Varies with device",value=np.nan,inplace=True)

In [ ]:
df["Size"].dtype

In [15]:
df["Size"]=df["Size"].astype(dtype="float64")

In [17]:
df["Size"].dtype

dtype('float64')

# coming to installs

In [29]:
def remove_plus_sign(val):
    val=val.replace(",","") 
    # converting ',' based numbers to base 10 numbers
    if '+' in val:
        return int((val.split("+"))[0])
    else :
        return int(val)

In [28]:
"1000,000".replace(",","")

'1000000'

In [30]:
df["Installs"]=df["Installs"].apply(remove_plus_sign)

In [32]:
df["Installs"].dtype

dtype('int64')

In [33]:
# grouping
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
8679,Dp for girls,ART_AND_DESIGN,4.2,175,8.2,50000,Free,0,Everyone,Art & Design,26-May-17,1.2,4.0.3 and up
1601,JOANN - Crafts & Coupons,LIFESTYLE,4.6,34782,12.0,1000000,Free,0,Everyone,Lifestyle,22-Jun-18,5.2.2,4.3 and up
6340,BLACKJACK!,GAME,4.4,524467,33.0,10000000,Free,0,Teen,Casino,7-Jul-16,1.126,2.3.3 and up
6951,BX Mobile TMC for SAP B1,BUSINESS,4.7,3,11.0,100,Free,0,Everyone,Business,20-Jan-15,1.0.16,4.0.3 and up
7982,"Easy Resume Builder, Resume help, Curriculum v...",TOOLS,4.3,996,10.0,50000,Free,0,Everyone,Tools,28-Sep-17,2.3,4.0.3 and up

In [34]:
def new_install_group(val):
    if val<1000:
        return "Under 1000"
    elif (val<10000) :
        return "Under 10000"
    elif (val<50000) :
        return "Under 50000"
    else:
        return "Above 50000"

In [36]:
df["Installs_new_group"]=df["Installs"].apply(new_install_group)

In [37]:
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Installs_new_group
7737,CQ Electrical Group,PRODUCTIVITY,NaN,0,14.0,1,Free,0,Everyone,Productivity,19-Jul-18,1.0.0,4.1 and up,Under 1000
7943,Curriculum Vitae,BUSINESS,3.7,3757,5.0,1000000,Free,0,Everyone,Business,29-Mar-16,2.8,2.3.3 and up,Above 50000
4905,AC REMOTE UNIVERSAL-PRO,FAMILY,1.6,402,1.7,100000,Free,0,Everyone,Entertainment,11-Dec-15,1,2.2 and up,Above 50000
341,Hangouts,COMMUNICATION,4.0,3419249,NaN,1000000000,Free,0,Everyone,Communication,21-Jul-18,Varies with device,Varies with device,Above 50000
2314,OneTouch Reveal,MEDICAL,3.9,6266,34.0,500000,Free,0,Everyone,Medical,22-May-18,3.5,5.1 and up,Above 50000