In [65]:
import pandas as pd
import ydata_profiling as yd
import numpy as np

In [66]:
df=pd.read_csv("googleplaystore.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [67]:
profile=yd.ProfileReport(df)
profile.to_file("automatic_eda_profiler.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Summarize dataset:  75%|███████▌  | 15/20 [00:01<00:00,  8.96it/s, Calculate auto correlation]     c:\Users\Windows 10\.conda\envs\d_science\lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '4.0.3 and up'')
  warnings.warn(
Summarize dataset:  81%|████████▏ | 22/27 [00:02<00:00,  5.39it/s, Missing diagram heatmap]   c:\Users\Windows 10\.conda\envs\d_science\lib\site-packages\seaborn\matrix.py:260: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  annotation = ("{:" + self.fmt + "}").format(val)
c:\Users\Windows 10\.conda\envs\d_science\lib\site-packages\ydata_profiling\model\missing.py:78: UserWarning: There was an attempt to generate the Heatmap missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Heatmap": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '--'')
  warnings.warn(
Summarize dataset: 100%|██████████| 27/27 [00:03<00:00,  8.80it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.77s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.03s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 48.50it/s]

In [68]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1664,Block Puzzle,GAME,4.6,59800,7.8M,"5,000,000+",Free,0,Everyone,Puzzle,6-Mar-18,2.9,2.3 and up
6441,BL Taxi,MAPS_AND_NAVIGATION,4.9,124,3.4M,"1,000+",Free,0,Everyone,Maps & Navigation,26-Mar-18,Varies with device,Varies with device
3062,MLB At Bat,SPORTS,4.2,82883,Varies with device,"5,000,000+",Free,0,Everyone,Sports,30-Jul-18,Varies with device,Varies with device
7508,DAILY: Free Classifieds App for Android,LIFESTYLE,4.1,5025,Varies with device,"500,000+",Free,0,Mature 17+,Lifestyle,2-Aug-18,Varies with device,Varies with device
7511,Car Search For Craigslist CL Free,AUTO_AND_VEHICLES,2.6,5,9.0M,"1,000+",Free,0,Everyone,Auto & Vehicles,8-May-18,1.0.0,2.3.3 and up
6379,Hungry Girl Diet Bk. Companion,HEALTH_AND_FITNESS,2.2,4,28M,"1,000+",Free,0,Everyone,Health & Fitness,1-Feb-18,1.1.3,4.0 and up
434,Full Screen Caller ID,COMMUNICATION,4.2,104990,10M,"5,000,000+",Free,0,Everyone,Communication,15-May-18,3.5.0,4.0.3 and up
731,English words application mikan,EDUCATION,4.7,9888,Varies with device,"500,000+",Free,0,Everyone,Education,30-Jul-18,Varies with device,4.1 and up
7573,"Ruler & Area Measurement (cm, inch)",TOOLS,4.3,10,8.2M,"10,000+",Free,0,Everyone,Tools,28-Jul-17,1.2,4.1 and up
1514,Public Digital Library,LIBRARIES_AND_DEMO,3.9,2087,Varies with device,"50,000+",Free,0,Everyone,Libraries & Demo,30-Jul-18,Varies with device,Varies with device

In [69]:
df["Price"].value_counts()

Price
0          10041
$0.99        148
$2.99        129
$1.99         73
$4.99         72
           ...
$19.90         1
$1.75          1
$14.00         1
$4.85          1
$1.04          1
Name: count, Length: 92, dtype: int64

In [70]:
# drop duplicate rows
df.drop_duplicates(inplace=True)

In [71]:
df["Size"].value_counts()

Size
Varies with device    1526
11M                    188
13M                    186
12M                    186
14M                    182
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

## Because of typecasting issue with nan , first we will convert k into M, remove M (as all data will be in M unit ) and then deal with nan

In [72]:
df["Size"].value_counts()

Size
Varies with device    1526
11M                    188
13M                    186
12M                    186
14M                    182
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

In [73]:
def convert_data_sizes(val):
    if 'k' in val:
        return (float((val.split("k"))[0])/1024)
    elif 'M' in val:
        return (val.split("M"))[0]
    else :
        return np.nan

In [74]:
df["Size"]=df["Size"].apply(convert_data_sizes)

In [75]:
df["Size"].value_counts()

Size
11          188
12          186
13          186
14          182
15          174
           ...
0.419922      1
0.418945      1
0.195312      1
0.449219      1
0.604492      1
Name: count, Length: 460, dtype: int64

In [76]:
df["Size"].sample(5)

1508     30
1904     17
2471    3.5
1479     16
1891    NaN
Name: Size, dtype: object

In [77]:
# df[df["Size"]=='Varies with device']["Size"].replace(to_replace="Varies with device",value=np.nan,inplace=True)

In [78]:
df["Size"].dtype

dtype('O')

In [79]:
df["Size"]=df["Size"].astype(dtype="float64")

In [80]:
df["Size"].dtype

dtype('float64')

# coming to installs

In [81]:
def remove_plus_sign(val):
    val=val.replace(",","") 
    # converting ',' based numbers to base 10 numbers
    if '+' in val:
        return int((val.split("+"))[0])
    else :
        return int(val)

In [82]:
"1000,000".replace(",","")

'1000000'

In [83]:
df["Installs"]=df["Installs"].apply(remove_plus_sign)

In [84]:
df["Installs"].dtype

dtype('int64')

In [85]:
# grouping
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10295,Sports Lite,SPORTS,4.4,16,4.900000,1000,Free,0,Everyone,Sports,31-Jul-18,1,4.0.3 and up
5523,Dungeon Quest,FAMILY,4.5,244039,46.000000,5000000,Free,0,Everyone 10+,Role Playing,4-Jun-18,3.0.5.2,4.0 and up
3628,AccuWeather: Daily Forecast & Live Weather Rep...,WEATHER,4.4,2053404,NaN,50000000,Free,0,Everyone,Weather,6-Aug-18,Varies with device,Varies with device
5575,"AS - Diario online deportivo. Fútbol, motor y más",NEWS_AND_MAGAZINES,NaN,0,6.000000,50,Free,0,Everyone,News & Magazines,24-Jun-18,7.8,4.1 and up
7430,CJ Poker Odds Calculator,GAME,4.1,207,0.113281,50000,Free,0,Everyone,Card,30-Jan-11,1.2,1.6 and up

In [86]:
labels=["no download","low","medium","more than medium","high download","top notch"]
bins=[-1,0,100,1000,10000,100000,1000000]

In [87]:
df["Installs_category"]=pd.cut(df["Installs"],bins=bins,labels=labels)

In [88]:
df["Price"].value_counts().sample(10)

Price
$8.49       2
$1.50       1
$1.59       1
$25.99      1
$4.85       1
$3.88       1
$6.49       5
$394.99     1
$28.99      1
$4.80       1
Name: count, dtype: int64

In [89]:
# setting price feature
# df["Price"].replace(to_replace="$",value="") # it didn't worked
df["Price"]=df["Price"].apply(lambda x: x.replace('$','') if '$' in str(x) else x)
df["Price"]=df["Price"].apply(lambda x: float(x))

In [90]:
df["Price"].value_counts()

Price
0.00      9593
0.99       146
2.99       125
1.99        73
4.99        70
          ...
389.99       1
19.90        1
1.75         1
14.00        1
1.04         1
Name: count, Length: 92, dtype: int64

In [91]:
df["Rating"].dtype

dtype('float64')

In [92]:
# using f string to print the min, max and average price of the apps
print(f"Min price is: {df['Price'].min()} $")
print(f"Max price is: {df['Price'].max()} $")
print(f"Average price is: {df['Price'].mean()} $")

Min price is: 0.0 $
Max price is: 400.0 $
Average price is: 1.0307009075111024 $

In [93]:
# df["Android Ver"]=df["Android Ver"].apply(lambda x: x.replace("Varies with device",str(np.nan)) if "Varies with device" in str(x) else x)

TypeError: replace() argument 2 must be str, not float

# Preprocessing completed

In [102]:
df[(df["Content Rating"]=='Teen')&(df['Category']!='Social')].shape

(1146, 14)

In [107]:
grouped_data=df.groupby(["Content Rating",'Category'])["Installs"]
grouped_data.sum().sort_values(ascending=False)
for name,group in grouped_data:
    print(f"Group: {name}")

Group: ('Adults only 18+', 'COMICS')
Group: ('Adults only 18+', 'SPORTS')
Group: ('Everyone', 'ART_AND_DESIGN')
Group: ('Everyone', 'AUTO_AND_VEHICLES')
Group: ('Everyone', 'BEAUTY')
Group: ('Everyone', 'BOOKS_AND_REFERENCE')
Group: ('Everyone', 'BUSINESS')
Group: ('Everyone', 'COMICS')
Group: ('Everyone', 'COMMUNICATION')
Group: ('Everyone', 'DATING')
Group: ('Everyone', 'EDUCATION')
Group: ('Everyone', 'ENTERTAINMENT')
Group: ('Everyone', 'EVENTS')
Group: ('Everyone', 'FAMILY')
Group: ('Everyone', 'FINANCE')
Group: ('Everyone', 'FOOD_AND_DRINK')
Group: ('Everyone', 'GAME')
Group: ('Everyone', 'HEALTH_AND_FITNESS')
Group: ('Everyone', 'HOUSE_AND_HOME')
Group: ('Everyone', 'LIBRARIES_AND_DEMO')
Group: ('Everyone', 'LIFESTYLE')
Group: ('Everyone', 'MAPS_AND_NAVIGATION')
Group: ('Everyone', 'MEDICAL')
Group: ('Everyone', 'NEWS_AND_MAGAZINES')
Group: ('Everyone', 'PARENTING')
Group: ('Everyone', 'PERSONALIZATION')
Group: ('Everyone', 'PHOTOGRAPHY')
Group: ('Everyone', 'PRODUCTIVITY')
Group: ('Everyone', 'SHOPPING')
Group: ('Everyone', 'SOCIAL')
Group: ('Everyone', 'SPORTS')
Group: ('Everyone', 'TOOLS')
Group: ('Everyone', 'TRAVEL_AND_LOCAL')
Group: ('Everyone', 'VIDEO_PLAYERS')
Group: ('Everyone', 'WEATHER')
Group: ('Everyone 10+', 'ART_AND_DESIGN')
Group: ('Everyone 10+', 'AUTO_AND_VEHICLES')
Group: ('Everyone 10+', 'BEAUTY')
Group: ('Everyone 10+', 'BOOKS_AND_REFERENCE')
Group: ('Everyone 10+', 'BUSINESS')
Group: ('Everyone 10+', 'COMICS')
Group: ('Everyone 10+', 'EDUCATION')
Group: ('Everyone 10+', 'ENTERTAINMENT')
Group: ('Everyone 10+', 'EVENTS')
Group: ('Everyone 10+', 'FAMILY')
Group: ('Everyone 10+', 'FOOD_AND_DRINK')
Group: ('Everyone 10+', 'GAME')
Group: ('Everyone 10+', 'HEALTH_AND_FITNESS')
Group: ('Everyone 10+', 'LIFESTYLE')
Group: ('Everyone 10+', 'MAPS_AND_NAVIGATION')
Group: ('Everyone 10+', 'MEDICAL')
Group: ('Everyone 10+', 'NEWS_AND_MAGAZINES')
Group: ('Everyone 10+', 'PERSONALIZATION')
Group: ('Everyone 10+', 'PRODUCTIVITY')
Group: ('Everyone 10+', 'SOCIAL')
Group: ('Everyone 10+', 'SPORTS')
Group: ('Everyone 10+', 'VIDEO_PLAYERS')
Group: ('Everyone 10+', 'WEATHER')
Group: ('Mature 17+', 'BEAUTY')
Group: ('Mature 17+', 'BOOKS_AND_REFERENCE')
Group: ('Mature 17+', 'BUSINESS')
Group: ('Mature 17+', 'COMICS')
Group: ('Mature 17+', 'COMMUNICATION')
Group: ('Mature 17+', 'DATING')
Group: ('Mature 17+', 'EDUCATION')
Group: ('Mature 17+', 'ENTERTAINMENT')
Group: ('Mature 17+', 'FAMILY')
Group: ('Mature 17+', 'GAME')
Group: ('Mature 17+', 'HEALTH_AND_FITNESS')
Group: ('Mature 17+', 'LIFESTYLE')
Group: ('Mature 17+', 'MAPS_AND_NAVIGATION')
Group: ('Mature 17+', 'MEDICAL')
Group: ('Mature 17+', 'NEWS_AND_MAGAZINES')
Group: ('Mature 17+', 'PARENTING')
Group: ('Mature 17+', 'PERSONALIZATION')
Group: ('Mature 17+', 'PHOTOGRAPHY')
Group: ('Mature 17+', 'PRODUCTIVITY')
Group: ('Mature 17+', 'SHOPPING')
Group: ('Mature 17+', 'SOCIAL')
Group: ('Mature 17+', 'SPORTS')
Group: ('Mature 17+', 'TOOLS')
Group: ('Mature 17+', 'TRAVEL_AND_LOCAL')
Group: ('Mature 17+', 'VIDEO_PLAYERS')
Group: ('Mature 17+', 'WEATHER')
Group: ('Teen', 'ART_AND_DESIGN')
Group: ('Teen', 'AUTO_AND_VEHICLES')
Group: ('Teen', 'BEAUTY')
Group: ('Teen', 'BOOKS_AND_REFERENCE')
Group: ('Teen', 'BUSINESS')
Group: ('Teen', 'COMICS')
Group: ('Teen', 'COMMUNICATION')
Group: ('Teen', 'DATING')
Group: ('Teen', 'EDUCATION')
Group: ('Teen', 'ENTERTAINMENT')
Group: ('Teen', 'EVENTS')
Group: ('Teen', 'FAMILY')
Group: ('Teen', 'FINANCE')
Group: ('Teen', 'FOOD_AND_DRINK')
Group: ('Teen', 'GAME')
Group: ('Teen', 'HEALTH_AND_FITNESS')
Group: ('Teen', 'HOUSE_AND_HOME')
Group: ('Teen', 'LIFESTYLE')
Group: ('Teen', 'MAPS_AND_NAVIGATION')
Group: ('Teen', 'MEDICAL')
Group: ('Teen', 'NEWS_AND_MAGAZINES')
Group: ('Teen', 'PARENTING')
Group: ('Teen', 'PERSONALIZATION')
Group: ('Teen', 'PHOTOGRAPHY')
Group: ('Teen', 'PRODUCTIVITY')
Group: ('Teen', 'SHOPPING')
Group: ('Teen', 'SOCIAL')
Group: ('Teen', 'SPORTS')
Group: ('Teen', 'TOOLS')
Group: ('Teen', 'TRAVEL_AND_LOCAL')
Group: ('Teen', 'VIDEO_PLAYERS')
Group: ('Teen', 'WEATHER')
Group: ('Unrated', 'FAMILY')
Group: ('Unrated', 'TOOLS')

In [94]:
grouped_data=df.groupby("Android Ver")["Installs"].sum().sort_values(ascending=False).head()
grouped_data
# top 5 apps versions with the highest number of installs

Android Ver
Varies with device    80049818782
4.1 and up            27798248789
4.0 and up            11325217206
4.4 and up             9855379498
4.0.3 and up           7275196683
Name: Installs, dtype: int64

In [60]:
grouped_data=df.groupby("Size")["Installs"].sum().sort_values(ascending=False).head()
grouped_data
# top 5 apps sizes with the highest number of installs

Size
76.0    5189110150
13.0    3621251835
74.0    2827110600
24.0    2669222460
62.0    2567551810
Name: Installs, dtype: int64

In [45]:
grouped_data=df.groupby("Price")["Installs"].sum().sort_values(ascending=False)
grouped_data[grouped_data<5]
# no specific pattern for price limit, app with price 0 has the highest number of installs
# But app price should be zero or at max less than 30 dollars

Price
109.99    1
28.99     1
154.99    0
200.00    0
30.99     0
394.99    0
Name: Installs, dtype: int64

In [40]:
df.groupby("Rating")["Installs"].sum().sort_values(ascending=False)

Rating
4.3    33186746710
4.5    30438418960
4.4    28485969100
4.2    15729637160
4.6    10635931800
4.0     9591940410
4.1     6230642600
3.9     5067045300
4.7     3610275010
3.7     1671049960
3.8      622452500
4.8      432824990
3.6      246616750
3.5      232078060
3.4      109413950
3.1      106558500
3.3       94851800
4.9       43882600
3.0       34333880
3.2       28674400
2.9        7191100
2.0        5040150
2.8        3489150
2.7        3359700
2.2        2130600
2.5        2078100
2.4        1284100
1.8         519500
2.6         442600
1.9         290000
2.3         264100
2.1         182000
1.6         152000
5.0          88823
1.7          81700
1.4           7000
1.0           5170
1.5           1105
1.2           1000
Name: Installs, dtype: int64

In [36]:
# No. of installs based on category
grouped_data=(df.groupby("Category"))["Installs"].sum()
grouped_data
# Iterate over the groups and print them
# for name, group in grouped_data:
#     print(f"Group: {name}")
#     print(group)
#     print()

Category
ART_AND_DESIGN           124338100
AUTO_AND_VEHICLES         53130211
BEAUTY                    27197050
BOOKS_AND_REFERENCE     1916469576
BUSINESS                 863664865
COMICS                    56086150
COMMUNICATION          24152276251
DATING                   206536107
EDUCATION                533952000
ENTERTAINMENT           2455660000
EVENTS                    15973161
FAMILY                 10041692505
FINANCE                  770348734
FOOD_AND_DRINK           257898751
GAME                   31544024415
HEALTH_AND_FITNESS      1361022512
HOUSE_AND_HOME           125212461
LIBRARIES_AND_DEMO        62995910
LIFESTYLE                534823539
MAPS_AND_NAVIGATION      724281890
MEDICAL                   42204177
NEWS_AND_MAGAZINES      5393217760
PARENTING                 31521110
PERSONALIZATION         2074494782
PHOTOGRAPHY             9721247655
PRODUCTIVITY           12463091369
SHOPPING                2573348785
SOCIAL                 12513867902
SPORTS                  1528574498
TOOLS                  11452771915
TRAVEL_AND_LOCAL        6361887146
VIDEO_PLAYERS           6222002720
WEATHER                  426100520
Name: Installs, dtype: int64